# Node & Vite
node_modules
dist
dist-portable
dist-ssr
*.local
.test-build

# Rust & Cargo
src-tauri/target
Cargo.lock

# Tauri build artifacts
src-tauri/gen

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
